<<<<<<< HEAD
.jarak{
	margin: 10px;
	padding: 30px;
}
=======
body{
    background-color: #f2f3f4;
}
form {
    border: 3px solid white;
    background-color: white;
}
.jarak{
    margin: 10px;
}
.tombol{
	margin-top: 8px;
}
>>>>>>> 221ba2e92fbde931e018620a72a941117f675ffb
