body{
    background-color: #f2f3f4;
}
form {
    border: 3px solid white;
    background-color: white;
}
p{
	font-family: sans-serif;
}
.jarak{
    margin: 10px;
}
.tombol{
	margin-top: 8px;
	margin-bottom: 10px;
}
a.active{
	text-decoration: underline;
}
#nominal{
	padding-top: 2em;
}
input, textarea{
	font-family: sans-serif;	
}
