body{
    background-color: #f2f3f4;
}
form {
    border: 3px solid white;
    background-color: white;
}
.bgdiv{
	background-color: #baf989;
}
.jarak{
    margin:10px;
}
#test{
	margin-left: 13px;
}
p{
	font-family: sans-serif;
}
p.total{
	font-size: 20px;
	color: blue;
}