body{
    background-color: #f2f3f4;
}
form {
    border: 3px solid white;
    background-color: white;
}
p{
	font-family: sans-serif;
}
h2{
	padding-top: 1em;
}
p.status{
	font-size: 13px;
}
a.active{
	text-decoration: underline;
}
input, textarea{
	font-family: sans-serif;	
}
.jarak{
    margin: 10px;
}
.radios{
	padding: 25px;
	margin-left:40px;
	margin-right:40px;
}